vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Apr 2012 20:34:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|login.htm numo.htm $_blank_minimized.htm $_blank_minimized2.htm update_account.htm index2.htm forgot_password.htm
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|09 Sep 2010 17:37:34 -0000
vti_nexttolasttimemodified:TW|06 Mar 2012 09:51:35 -0000
vti_cacheddtm:TX|03 Apr 2012 20:34:34 -0000
vti_filesize:IR|7281
vti_cachedlinkinfo:VX|S|../graphics/body_bg.jpg
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/body_bg.jpg
