vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Oct 2012 09:07:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|$_1_column.htm faqs.htm login.htm shipping.htm influences.htm contact.htm numo.htm venue_data.htm $_2_column.htm $_blank_minimized2.htm index2.htm update_account.htm news.htm purchase_confirm.htm art_copy.htm $_blank_secondary.htm label.htm photo_gallery.htm privacy.htm Templates/secondary.dwt forgot_password.htm guestbook.htm create_account.htm reviews.htm $_3_column.htm sitemap.htm live.htm index.htm press.htm contact_confirm.htm biog.htm region_select.htm $_blank_minimized.htm purchase_history.htm mp3_shop.htm
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|09 Sep 2010 17:37:34 -0000
vti_nexttolasttimemodified:TW|20 Sep 2012 09:01:53 -0000
vti_cacheddtm:TX|23 Oct 2012 09:07:40 -0000
vti_filesize:IR|6334
vti_cachedlinkinfo:VX|S|../graphics/FL_secondaryRotatorBg.png S|../graphics/body_bg.jpg
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/FL_secondaryRotatorBg.png FSUS|Site/graphics/body_bg.jpg
