#animations_component		{position:absolute; top:0px; 		left:0px; 		width:990px; 	height:300px;}
#time_date					{position:absolute; top:45px; 		left:65px; 	text-align:center;}
#icons						{position:absolute;	top:105px; 		right:30px;}
#search						{position:absolute; top:158px; 		right:20px;}
				#themed_object				{visibility:hidden; display:none; position:absolute; top:20px; 		left:200px;}
#logo						{position:absolute; top:10px; 		right:400px;	width:auto; 	height:auto;}
#textlogo					{position:absolute; top:25px; 		left:315px;		width:600px; 	height:auto;}
#logo_tagline				{position:absolute; top:105px; 		left:360px;		width:420px; 	height:auto;}
				#scroll_menu				{visibility:hidden; display:none; position:absolute; top:200px; 		left:0px; 	width:252px; 	height:200px;}
				#portfolio_component		{visibility:hidden; display:none; position:absolute; top:110px; 		right:10px;		width:520px;	height:380px; }
				#zoom_menu_component		{visibility:hidden; display:none; position:absolute; top:400px; 		left:0px;		width:500px; 	height:auto;}
	#zoom_menu				{margin-left:auto; 	margin-right:auto;				width:500px;}
#bookmark					{position:absolute; top:10px; 		left:310px; 		width:200px; 	height:50px;}
#menu_top					{position:absolute; top:0px; 		right:0px; 		min-width:100px;}
#mp3_component				{position:absolute; top:0px; 		left:-10px; 	width:310px; 	height:70px;}
#twitter-facebook			{position:absolute; top:160px; 		right:200px;}
#image_rotator_wrapper		{position:absolute; top:106px; 		left:0px;		width:290px; 	height:394px;}

/* component styling */
/*offline / designer view*/
#headerDivsecondary_rotator 		{width:290px; height:394px; position:relative; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background:url('../graphics/FL_secondaryRotatorBg.png') no-repeat left top;}
#headerDivsecondary_rotator img 	{width:240px; height:302px; position:absolute; top:46px; left:25px;}


#seo_1 h1					{color: #F7E8C9;	text-indent: 300px;	}
#seo_2 h2					{color: #F7E8C9;	text-indent: 300px;	}
#logo_tagline				{color: #F7E8C9;	}



/* page styles */
html, body					{margin:0px; padding:0px;}
body						{}

#main						{width:100%; background:url('../graphics/body_bg.jpg') no-repeat center top; position:absolute;}


#header_bg					{width:100%;		padding:0px; border:0px; 	position:absolute; 	top:0px; left:0px;}
#header_wr					{width:990px;			height:0px;		margin-left:auto;		margin-right:auto; 											padding:0px; border:0px;}
#header_l					{width:0px;			float:left;																						padding:0px; border:0px;}
#header_r					{width:0px;			float:right;																					padding:0px; border:0px;}
#header						{width:990px;			margin-left:auto; 	margin-right:auto;		position:relative;  										padding:0px; border:0px;}
.boxh-content				{height:175px;}
.header_bg					{width:100%;		padding:0px; border:0px; 	position:absolute; 	top:151px; 				left:0px;}
 
#content1_bg				{width:100%;		margin:145px 0px 0px 0px;	padding:0px; 		border:0px;}
#content1_wr				{width:990px;			min-height:350px;	margin-left:auto;		margin-right:auto;		position:relative;	padding:0px; border:0px;}
#content1_l					{width:0px;			float:left;																						padding:0px; border:0px;}
#content1_r					{width:0px;			float:right;																					padding:0px; border:0px;}
#content1					{margin-left:0px; 	margin-right:0px; 			position:relative; 													padding:30px 0px 10px 0px; border:0px;}

#content2_bg				{width:100%;		padding:0px; border:0px;}
#content2_wr				{width:990px;			min-height:0px;		margin-left:auto;		margin-right:auto;		position:relative;	padding:0px; border:0px;}
#content2_l					{width:0px;			float:left;																						padding:0px; border:0px;}
#content2_r					{width:0px;			float:right;																					padding:0px; border:0px;}
#content2					{margin-left:0px; 	margin-right:0px; 			position:relative; 													padding:0px; border:0px;}

#footer_bg					{width:100%;		padding:0px; border:0px;}
#footer_wr					{width:100%;				min-height:100px;	margin-left:auto;		margin-right:auto;		position:relative;	padding:0px; border:0px;}
#footer_l					{width:0px;			float:left;																						padding:0px; border:0px;}
#footer_r					{width:0px;			float:right;																					padding:0px; border:0px;}
#footer						{margin-left:0px; 	margin-right:0px;  			position:relative;													padding:50px; border:0px;}


/* column1 padding / margins */
#columns1					{padding-top:10px; 			padding-bottom:0px;}					
#column1_wrapper			{padding:0px 0px 0px 0px;	margin:0px;}
#left1col					{padding:0px 0px 0px 0px;	margin:0px;}
#left1pad					{padding:0px 0px 0px 0px;	margin:0px;}
#right1col					{padding:0px 0px 0px 0px;	margin:0px; position:relative;}
#right1pad					{padding:0px 0px 0px 0px;	margin:0px;}
#center1col					{padding:0px 20px 0px 30px ;}

/* column2 padding / margins */
#columns2					{padding-top:10px; 			padding-bottom:0px;}					
#column2_wrapper			{padding:0px 0px 0px 0px;	margin:0px;}
#left2col					{padding:0px 0px 0px 0px;	margin:0px;}
#left2pad					{padding:0px 0px 0px 0px;	margin:0px;}
#right2col					{padding:0px 0px 0px 0px;	margin:0px;}
#right2pad					{padding:0px 0px 0px 0px;	margin:0px;}
#center2col					{padding:0px 20px 0px 30px ;}


/* seo */	
#seo						{width:100%; height:50px; position:absolute; top:0px; left:0px;}
#seo_wrapper				{position:relative; top:0px; left:0px;}
#seo_wrapper				{margin-left:auto; margin-right:auto; border:0px;}

.clear						{min-width:600px; max-width:990px; margin-left:auto; margin-right:auto; clear:both; height:0px;}

/* -------------------------- TEXT LOGO styles ------------------ */
#textlogo 								{color: #efefef; font-size:55px; padding:40px 0px 0px 0px; text-align:left; text-shadow: 2px 2px 2px #333333; font-family:"Palatino Linotype", Arial, Helvetica, sans-serif;}
#textlogo a:link 						{color: #efefef;}
#textlogo a:visited 					{color: #efefef;}
#textlogo a:hover 						{color: #ff9900;}
#textlogo a:active 						{color: #efefef;}

