
/* button title text */
h1 {
	font-weight: normal;
	color:#333333;
	font-family:"Trebuchet MS", Tahoma, Arial, Verdana ;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	
}


/* button short description text */
p {
	font-weight: normal;
	color:#201F1F;
	font-family: Arial, Verdana, Tahoma, Trebuchet MS;
	text-align: left;
	font-size: 10px;
	font-weight: bold;

}


/* image long description text */
.longDescription {
	font-weight: normal;
	color:#000000; 
	font-family: "Trebuchet MS", Tahoma, Verdana, Tahoma, Trebuchet MS;
	text-align: left;
	font-size: 18px;
	font-style:normal;
	font-weight: normal;
}


/* image click me text */
.link {
  color: #cccccc;
  text-decoration: underline;
  margin-top: 30px;
  text-align: right;
  font-weight: bold;	
}