@media screen {
.sIFR-flash {visibility: visible !important;margin: -20px 0px 0px 0px;padding: 0;}

.sIFR-replaced, .sIFR-ignore { visibility: visible !important;}

.sIFR-alternate {position: absolute;left: 0;top:0px;width: 0;height:100px;display: block;overflow: hidden;}

}