vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Jun 2011 17:56:23 -0000
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|$_alternate_index_no_flash.htm
vti_author:SR|Christina-PC\\Christina
vti_modifiedby:SR|Christina-PC\\Christina
vti_timecreated:TR|16 Jun 2011 17:56:23 -0000
vti_cacheddtm:TX|16 Jun 2011 17:56:23 -0000
vti_filesize:IR|4395
vti_cachedlinkinfo:VX|S|misc/slider.css S|../graphics/latest_news_ticker.png S|../themed_images/primary_themed_bg.jpg S|../graphics/body_bg.jpg S|../graphics/footer_bg.jpg S|../graphics/footer.jpg S|../graphics/advertising.jpg S|../graphics/advertising_bg.jpg
vti_cachedsvcrellinks:VX|FSUS|Site/styles/misc/slider.css FSUS|Site/graphics/latest_news_ticker.png FSUS|Site/themed_images/primary_themed_bg.jpg FSUS|Site/graphics/body_bg.jpg FSUS|Site/graphics/footer_bg.jpg FSUS|Site/graphics/footer.jpg FSUS|Site/graphics/advertising.jpg FSUS|Site/graphics/advertising_bg.jpg
