<style>
	.numo_newsletter_header {background: #731714; color: #FFFFFF; border-bottom: 1px solid #DDDDDD; padding: 0px; margin: 0px;font-family: Arial, sans-serif;}
	.numo_newsletter_footer {background: #752219; color: #FFFFFF; border-top: 1px solid #DDDDDD; padding: 0px; margin: 0px;font-family: Arial, sans-serif;}
	.numo_newsletter_column_1 {background: #FFFFFF; color: #000000; vertical-align: top; padding: 0px 5px;font-family: Arial, sans-serif;}
</style>
<table width="600px" align="center" style="border: 1px solid #DDDDDD;border-collapse:collapse;" cellspacing="0px">
	<tr>
		<td width="600" class="numo_newsletter_header">
		<!-- #BeginSection "header" -->
		<p>Header Section</p>
		<!-- #EndSection -->
		</td>
	</tr>
	<tr>
		<td width="600" class="numo_newsletter_column_1">
		<!-- #BeginSection "column_1" -->
		<p>Column 1 Section</p>
		<!-- #EndSection -->
		</td>
	</tr>
	<tr>
		<td width="600" class="numo_newsletter_footer">
		<!-- #BeginSection "footer" -->
		<p>Footer Section</p>
		<!-- #EndSection -->
		</td>
	</tr>
</table>