<style>
	.numo_newsletter_header {background: #224E97; color: #FFFFFF; border-bottom: 1px solid #DDDDDD; padding: 0px; margin: 0px;font-family: Arial, sans-serif;}
	.numo_newsletter_footer {background: #FAFAFA; color: #666666; border-top: 1px solid #DDDDDD; padding: 0px; margin: 0px;font-family: Arial, sans-serif;}
	.numo_newsletter_column_1 {background: #FFFFFF; color: #000000; vertical-align: top; padding: 0px 5px;font-family: Arial, sans-serif;}
	.numo_newsletter_column_2 {background: #E0E0E0; color: #000000; vertical-align: top; padding: 0px 5px;font-family: Arial, sans-serif;}
</style>
<table align="center" width="600px" style="border: 1px solid #DDDDDD;border-collapse:collapse;" cellspacing="0px" cellpadding="0px">
	<tr>
		<td width="600" class="numo_newsletter_header">
		<!-- #BeginSection "header" -->
		<p>Header Section</p>
		<!-- #EndSection -->
		</td>
	</tr>
	<tr>
		<td width="600">
			<table width="100%" cellspacing="0px" cellpadding="0px">
			<tr>
				<td class="numo_newsletter_column_1" width="180px">
				<!-- #BeginSection "column_1" -->
				<p>Column 1 Section</p>
				<!-- #EndSection -->
				</td>
				<td class="numo_newsletter_column_2">
				<!-- #BeginSection "column_2" -->
				<p>Column 2 Section</p>
				<!-- #EndSection -->
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="600" class="numo_newsletter_footer">
		<!-- #BeginSection "footer" -->
		<p>Footer Section</p>
		<!-- #EndSection -->
		</td>
	</tr>
</table>