vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2012 00:18:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site/styles/styles.css
vti_author:SR|IOMMI\\Jon
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|07 Mar 2012 19:57:41 -0000
vti_nexttolasttimemodified:TW|19 Mar 2012 00:18:06 -0000
vti_cacheddtm:TX|19 Mar 2012 00:18:59 -0000
vti_filesize:IR|20325
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css
