vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Sep 2012 21:41:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|IOMMI\\Jon
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|06 Mar 2012 09:45:18 -0000
vti_title:SR|Numo Whois Online Module Demo
vti_backlinkinfo:VX|
vti_cacheddtm:TX|18 Sep 2012 21:41:54 -0000
vti_filesize:IR|732
vti_cachedtitle:SR|Numo Whois Online Module Demo
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|styles/common.css S|images/logo.jpg H|index.htm H|numo/
vti_cachedsvcrellinks:VX|NQUS|numo/modules/shopping_cart/components/styles/common.css NSUS|numo/modules/shopping_cart/components/images/logo.jpg NHUS|numo/modules/shopping_cart/components/index.htm NHUS|numo/modules/shopping_cart/components/numo/
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
