vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2012 09:51:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site/styles/styles.css
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|25 Aug 2010 22:03:20 -0000
vti_cacheddtm:TX|06 Mar 2012 09:51:09 -0000
vti_filesize:IR|285
