vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jun 2011 17:59:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site/styles/primary-alternate-index-vimeo-video.css Site/styles/primary-alternate-index-no-flash.css
vti_author:SR|IOMMI\\Jon
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|11 Apr 2012 21:30:01 -0000
vti_cacheddtm:TX|11 Apr 2012 21:30:01 -0000
vti_filesize:IR|3314
vti_cachedlinkinfo:VX|S|../../graphics/slider.png S|../../graphics/loading.gif S|../../graphics/bullets.png S|../../graphics/arrows.png S|../../graphics/slider_readmore.png S|../../graphics/slidercover.png
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/slider.png FSUS|Site/graphics/loading.gif FSUS|Site/graphics/bullets.png FSUS|Site/graphics/arrows.png FSUS|Site/graphics/slider_readmore.png FSUS|Site/graphics/slidercover.png
