vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2012 09:51:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|12 Apr 2010 18:55:47 -0000
vti_cacheddtm:TX|06 Mar 2012 09:51:35 -0000
vti_filesize:IR|1812
vti_cachedlinkinfo:VX|S|data:image/gif;base64,AAAA S|../images/prevlabel.gif S|../images/nextlabel.gif
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,AAAA FSUS|Site/images/prevlabel.gif FSUS|Site/images/nextlabel.gif
