vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Apr 2012 21:07:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|$_blank_primary.htm Templates/primary.dwt home.htm
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|09 Sep 2010 17:37:34 -0000
vti_nexttolasttimemodified:TW|03 Apr 2012 21:07:04 -0000
vti_cacheddtm:TX|03 Apr 2012 21:07:37 -0000
vti_filesize:IR|5861
vti_cachedlinkinfo:VX|S|../graphics/FL_portfolio_bg.png S|../graphics/body_bg.jpg S|../themed_images/themed_bg.jpg
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/FL_portfolio_bg.png FSUS|Site/graphics/body_bg.jpg FSUS|Site/themed_images/themed_bg.jpg
