#numo_account_login_component {border: 0px solid #666;}
#numo_account_login_component form, #numo_account_login_component form ul li { margin: 0px; padding: 0px}
#numo_account_login_component form ul {list-style-type: none; margin: 0px; padding: 0px;}
#numo_account_login_component form ul li label { font-weight: bold; font-size: 13px; width: 90px; display: inline-block;}

