<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Numo Whois Online Module Demo</title>
	<link rel="stylesheet" type="text/css" href="styles/common.css" />
</head>
<body>
<div id="header"><img src="images/logo.jpg" alt="Numo Whois Online Demo" title="Numo Whois Online Demo" /></div>
<ul id="navigation">
	<li><a href="index.htm">Home</a></li>
	<li><a href="numo/">Administrative Area</a></li>
	[NUMO.CONTENT SECTIONS: LINKS]
	[NUMO.ACCOUNTS: LINKS]
</ul>
<div id="content">
<h2>[NUMO.SETTINGS: ERROR TITLE]</h2>
[NUMO.SETTINGS: ERROR]
</div>
</body>
</html>