vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Jul 2012 11:03:13 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site/styles/styles.css
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|IOMMI\\Jon
vti_timecreated:TR|12 Apr 2010 18:55:56 -0000
vti_cacheddtm:TX|13 Jul 2012 11:03:13 -0000
vti_filesize:IR|442
