
/* button title text */
h1 {
	font-weight: normal;
	color:#000000;
	font-family:"Trebuchet MS", Tahoma, Arial, Verdana ;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	font-variant:small-caps;
	
}


/* button short description text */
p {
	font-weight: normal;
	color:#FBFBEB;
	font-family: Arial, Verdana, Tahoma, Trebuchet MS;
	text-align: center;
	font-size: 9px;
}


/* image long description text */
.longDescription {
	font-weight: normal;
	color:#ffffff;
	font-family: Arial, Verdana, Tahoma, Trebuchet MS;
	text-align: center;
	font-size: 11px;
	font-style:normal;
	font-weight: bold;
}


/* image click me text */
.link {
  color: #ffffff;
  text-decoration: underline;
  margin-top: 12px;
  text-align: right;
  font-weight: bold;	
}